@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$dreamcolor: #bf4635;

body {
  font-family: Helvetica;
}

.main-nav {
  list-style: none;
  position: fixed;
  top: 50px;
  li {
    float: left;
    a {
      color: gray;
      font-weight: 100;
      color: gray;
      font-weight: 100;
      padding: 8px 18px;
      border-radius: 50px;
      font-size: 12px;
      &.active {
        color: #fff;
        background: $dreamcolor;
      }
    }
  }
}

.caption {
  margin-top: 140px;
  text-transform: uppercase;
  color: $dreamcolor;
  font-weight: 200;
}

.space-1 {
  .dreamlogo {
    width: 450px;
  }
  margin-top: 100px;
}
